nav {
    min-height: 110px;
    background-color: darkgray;
}

/*main container*/
/*====================*/
.container {
    display:flex;
    width: 100%;
    background-color: blue;
}

.item {
    flex-grow: 1;
    align-items: flex-start;
    padding: 5px;
    margin: 5px;
}

#sceneCamRenderer {
    flex-grow: 2;
    padding: 5px;
    margin: 5px;
    width: 680px;
    height: 480px;
    background-color: brown;
}


/*eye container*/
/*====================*/
.container-eyes {
    display:flex;
    flex-direction: column;
    background-color: aqua;
}

.canvas-eye {
    padding: 5px;
    margin: 5px;
    width: 320px;
    height: 240px;
    background-color: brown;
}

/*dropdown*/
/*=====================*/
.dropdown-trigger {
    min-width: 200px;
}